spring:
  application:
    name: ute-phonehub-backend
  
  datasource:
    # Mặc định để localhost để chạy được trên IntelliJ
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/utephonehub_db
    username: ${DB_USERNAME:utephonehub}
    password: ${DB_PASSWORD:utephonehub}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: 6379

server:
  port: 8081